/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body{
    color: #fff;
}








/* NAV */
header{
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 280px);
    position: fixed;
    right: 0;
    top: 0;
}

.btn-upgrade{
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 50px;
    margin-right: 30px;
    text-transform: uppercase;
}

header .btn-upgrade:hover{
    background-color: green;
    border: 1px solid green;
}








/* SIDEBAR */
.img-logo{
    height: 80px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.fa-spotify{
    font-size: 0;
}

.sidebar{
    width: 280px;
    height: calc(100vh - 100px);
    background-color: #000;
    margin-left: 0;
    padding-right: 35px;
    display: flex;
    flex-direction: column;
}

.sidebar-icon{
    color: #707170;
    width: 35px;
    margin-top: 5px;
}

li:hover .sidebar-icon{
    color: #fff;
}

li:hover .playlist-button{
    background-color: #fff;
}


.sidebar-icon.description{
    font-size: 18px;
    font-weight: 500;
    margin-left: 5px;
    vertical-align: 20%;
    line-height: 40px;
}

.select-bar-sidebar{
    display: inline-block;
    width: 5px;
    height: 42px;
    border-radius: 10px;
    background-color: #ADFF2C;
    margin-left: -15px;
    margin-right: 7px;
}

.ul-style{
    list-style-type: none;
    padding-inline-start: 0;
    color: #fff;
}


.playlist-button{
    background-color: #707170;
    width: 50px;
}



.sidebar-icon.description.playlist{
    vertical-align: 50%;
}

.fa-arrow-circle-down{
    color: #fff;
}

.app-install{
    font-size: 18px;
    font-weight: 500;
    margin-left: 5px;
}


#hr-app{
    width: 245px;
}

.fa-user{
    font-size: 30px;
    margin-top: -10px;
}

.end{
    margin-top: auto;
}







/* MAIN */
main{
    height: calc(100vh - 100px);
    width: 100%;
    background-color: #141922;
    display: flex;
}

nav ul{
    color: #707170;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: bold;
    text-transform: uppercase;
}

.app-content{
    width: calc(100% - 280px);
    overflow-y: auto;
    padding-top: 110px;
}

.card{
    display: flex;
    flex-wrap: wrap;
}


section{
    margin: 30px 10px;
    height: 500px;
    width: calc(100vw / 6 - 67px);
    min-width: 162px;
    align-content: flex-start;

}

.href-nav{
    color: #7D7F84;
    padding: 0 15px;
}

.href-nav:hover{
    text-decoration: none;
    color: #fff;
}

.nav-selector{
    width: 42px;
    height: 5px;
    border-radius: 10px;
    background-color: #ADFF2C;
    margin-left: -15px;
    margin-right: 7px;
    margin-left: 40px;
}

h1{
    padding-left: 15px;
    font-weight: bold;
}


.img-card{
    max-width:100%;
    max-height:100%;
}

.img-card:hover{
    opacity: 0.3;
    transition: .2s;
    position: relative;
}


h3{
    text-align: center;
}

.subtitle{
    color: #7D7F84;
    font-weight: 500;
    text-align: center;
    font-size: 17px;
}

.sub-left{
text-align: left;
padding-left: 15px;
}

.href-card{
    color: #fff;
}

.href-card:hover{
    color: #fff;
}

.img-card.artist{
    border-radius: 50%;

}




/* FOOTER */
footer{
    height: 100px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    /* justify-content: flex-end;
    align-items: center;
    width: 100vw; */
}

.player-album{
    display: flex;
    align-items: center;
}

.album-description{
    display: flex;
    align-items: center;
    width: 80px;
    height: 80px;
}

.img-player{
    margin-left: 20px;
    width: 55px;
    height: 55px;
}

#song-playing{
    font-size: 20px;
    padding-left: 10px;
}

#artist-playng{
    padding-left: 10px;
    color: #707170;
}

#artist-playng:hover{
    color: #fff;
}

.fa-heart{
    padding-left: 50px;
    font-size: 20px;
    color: #707170;
}

.fa-folder{
    padding-left: 20px;
    font-size: 20px;
    color: #707170;
}

.fa-heart:hover{
    color: #fff;
}

.fa-folder:hover{
    color: #fff;
}

.album-controls{
    color: #fff;
}

/* /////////////CONTROLLER///////////// */


input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  input[type=range]:-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
  }
  
  input[type=range]:-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }



/* /////////////CONTROLLER///////////// */





/* MEDIA Q*/

@media all and (max-width: 768px){
    .img-logo{
        display: none;
    }

    header{
        display: flex;
        justify-content: flex-end;
    }

    .btn-upgrade{
        margin-right: 10px;
        border: 1px solid #fff;
        background-color: #000;
        color: #fff;
        font-size: 10px;
        font-weight: 500;
        padding: 8px 20px;
        border-radius: 50px;
    }

    .sidebar{
        width: 60px;
    }

    .end-sidebar{
        width: 60px;
    }

    header{
        width: calc(100% - 60px);
    }

    .sidebar-icon.description{
        display: none;
    }

    .select-bar-sidebar{
        display: none;
    }

    .sidebar-icon{
        margin: 4px 0px;
    }

    .fa-spotify{
        color: #fff;
        font-size: 35px;
        margin: 10px 0px; 
    }

    .playlist-button{
        display: none;
    }

    h4{
        display: none;
    }

    #hr-app{
        display: none;
    }

    .app-install{
        display: none;
    }

    .fa-user{
        margin-top: 20px;
    }

    .fa-arrow-circle-down{
        margin-left: 6px;
        padding-top: 40px;
    }

    .container{
        margin-right: 0;
    }

    .app-content{
        width: calc(100% - 60px);
    }

    /* section{
        min-width: 100px;
    } */



}
